/* Features.css */
.features {
  padding: 2rem;
  text-align: center;
}

.features-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.features-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.feature-card {
  background-color: #b9abde;
  border-radius: 8px;
  padding: 2rem;
  width: 37%;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.feature-card:hover {
  box-shadow: 0 6px 8px rgba(57, 132, 219, 0.1);
  background-color: #845dee;
  color:rgba(255, 250, 250, 0.915)
}

.feature-icon {
  font-size: 2rem;
}

.feature-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.feature-description {
  font-size: 1rem;
}